

body {
	background: url("../images/bg.jpg") repeat scroll center top #EFEFEF;
    color: #757C7B;
}


h1, h2, h3, h4, h5, h6 {
	color: #70AE3C;
    font-weight: 400;
    margin: 0;
    padding: 0 0 15px;
}



div.superfish-1-container {
	height: 30px;
	float: right;
	margin-top: 53px;
}
	
ul#superfish-1 {
	margin: 0;
}
	
ul#superfish-1 li {
	display: inline;
	float: left;
	margin-left: 5px;
	list-style-type: none;
	background: none;
}
	
ul#superfish-1 li a {
	color:#757C7C;
	display:block;
	font-size:14px;
	font-weight:500;
	height:15px;
	letter-spacing:0.05em;
	padding:7px 13px;
	text-transform:uppercase;
	border: none;
}

ul#superfish-1 li a.active {
	background-color: #89CC13;
	border: none;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #fff;
}
	
ul#superfish-1 li a:hover,
ul#superfish-1 li.current-menu-item a,
ul#superfish-1 li.current_page_parent a,
ul#superfish-1 li.current-page-ancestor a,
ul#superfish-1 li.sfHover a {
	background-color: #70ae3c;
	border: none;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #fff;
}

ul#superfish-1 li.sfHover ul li {
	margin-bottom: 5px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: 0px 0px 5px #ccc;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
}

ul#superfish-1 li.sfHover ul li:hover {
	box-shadow: 0px 0px 2px #ccc;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
}

.sf-shadow ul {
	background: none;
}

a:link,
a:active,
a:visited { 
	color: #28b2c4;
	transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out; 
	-webkit-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out;
	text-decoration: none;
	}




p.level-price {
	font-size: 130%;
	margin: 0.5em;
}

#sponsorship-chart {
	height: 250px;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    position: relative;
    text-align: center;
}

#sponsorship-chart h2 {
	font-size: 1.6em;
}

#sponsorship-chart li {
	border: 2px solid #000000;
    display: inline-block;
    height: 205px;
    margin: 0;
    padding: 5px 10px;
    width: 150px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    box-shadow: 0px 0px 10px #ccc;
    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    background-color: #FFFFFF;
}


li#platinum {
	left: 9px;
    position: absolute;
    top: 7px;
    height: 210px;
}

li#gold {
	left: 201px;
	top: 10px;
    position: absolute;
    z-index: 2;
}

li#silver {
	position: absolute;
    left: 393px;
    height: 200px;
    top: 13px;
    z-index: 1;
}

li#bronze {
	height: 195px;
    position: absolute;
    right: 201px;
    top: 15px;
}

li#individual {
	height: 190px;
    position: absolute;
    right: 9px;
    top: 18px;
}

#sponsorship-table {
	border: 5px solid #000000;
    border-collapse: collapse;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
}

#sponsorship-table th {
	border-color: #000000 #000000 #000000 -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    font-size: 20px;
    padding: 15px 6px;
    text-align: center;
}

#sponsorship-table tr {
	border: 1px solid #000000;
    padding: 5px 0;
}

#sponsorship-table td {
	border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px 6px;
    text-align: center;
}

#sponsorship-table td.row-title {
	font-size: 20px;
	line-height: 24px;
    padding: 19.5px 6px;
    text-align: left;
    width: 600px;
}





.node-type-event .model {
	display: none;
}




#block-block-1 {
	background-color: #FFFFFF;
}




#footer {
	padding: 10px;
	min-height: 300px;
	position: relative;
}

#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
	color: #040404;
}

#block-block-3 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#block-block-3 ul li {
	display: inline;
}




#block-block-4 table {
	margin: 0;
}

#block-block-4 h2 {
	padding: 0;
}

a#flickr_www {
	display: none;
}






#node-3 .uc-price-product {
	display: none;
}


#block-views-attendee_photo-block_1 img {
	max-height: 85px;
	max-width: 85px;
}







.page-community .view-id-attendees td {
	width: 240px;
	vertical-align: top;
}


#block-views-Sponsors-block_8 td.col-1 {
	padding-right: 30px;
}

#block-views-Sponsors-block_8 td.col-3 {
	padding-left: 30px;
}

#block-views-attendee_photo-block_1 .view-footer p {
	float: right;
}

#block-views-attendee_photo-block_1 .view-footer a {
	color: #FFFFFF;
}


#block-block-4 {
	clear: both;
}